<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>Bootstrap E-commerce Templates</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">      
		<link th:href="@{/bootstrap/css/bootstrap-responsive.min.css}" rel="stylesheet">		
		<link th:href="@{/themes/css/bootstrappage.css}" rel="stylesheet"/>
		
		<!-- global styles -->
		<link th:href="@{/themes/css/flexslider.css}" rel="stylesheet"/>
		<link th:href="@{/themes/css/main.css}" rel="stylesheet"/>

		<!-- scripts -->
		<script th:src="@{/themes/js/jquery-1.7.2.min.js}"></script>
		<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>				
		<script th:src="@{/themes/js/superfish.js}"></script>	
		<script th:src="@{/themes/js/jquery.scrolltotop.js}"></script>
		<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>
    <body>		
		<div id="top-bar" class="container">
			<div class="row">
				<div class="span4">
					<form th:action="@{/products/search}" method="GET" class="search_form">
						<input type="text" name="search" style="color:black;" class="input-block-level search-query" Placeholder="ex. title,brand,categori...">
					</form>
				</div>
				<div class="span8">
					<div class="account pull-right">
						<ul class="user-menu">				
							<li><a href="#" th:utext="${acc} ? ${acc} : ''"></a></li>
							<li><a th:href="@{/cart}">Your Cart</a></li>				
							<th:block th:if="!${acc}"><li><a th:href="@{/login}">Login</a></li></th:block>
							<th:block th:if="${acc}"><li><a th:href="@{/logout}">Logout</a></li></th:block>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="wrapper" class="container">
			<section class="navbar main-menu">
				<div class="navbar-inner main-menu">				
					<a th:href="@{/}" class="logo pull-left"><img src="themes/images/logo.png" class="site_logo" alt=""></a>
					<nav id="menu" class="pull-right">
						<ul>
							<li>
								<a th:href="@{/product}">ALL PRODUCT</a>
							</li>
							<li><a href="./products.html">CATEGORY</a>					
								<ul>
									<li><a th:href="@{/product(by='categori',name='clb')}">CLB</a></li>									
									<li><a th:href="@{/product(by='categori',name ='nation')}">DOI TUYEN</a></li>								
								</ul>
							</li>																	
							<li><a th:href="@{/product}">MANUFACTURES</a>
								<ul>									
									<li><a th:href="@{/product(by='brand',name='NIKE')}">NIKE</a></li>
									<li><a th:href="@{/product(by='brand',name='ADIDAS')}">ADIDAS</a></li>
									<li><a th:href="@{/product(by='brand',name='PUMA')}">PUMA</a></li>
								</ul>
							</li>							
						</ul>
					</nav>
				</div>
			</section>
			<section  class="homepage-slider" id="home-slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<img th:src="@{/themes/images/carousel/bn1.jpg}" alt="" />
						</li>
						<li>
							<img th:src="@{/themes/images/carousel/bn2.jpg}" alt="" />
						</li>
					</ul>
				</div>			
			</section>
			<section class="header_text">
				GENUINE MEN'S FEMALE SPORTS CLOTHES HIGHLIGHTS
			</section>
			<section class="main-content">
				<div class="row">
					<div class="span12">													
						<div class="row">
							<div class="span12">
								<h4 class="title">
									<span class="pull-left"><span class="text"><span class="line">Latest <strong>Products</strong></span></span></span>
									<span class="pull-right">
										<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
									</span>
								</h4>
								<div id="myCarousel" class="myCarousel carousel slide">
									<div class="carousel-inner">
										<div class="active item">
											<ul class="thumbnails">
												<th:block th:each="product1 : ${product1}">
													<li class="span3">
													<div class="product-box">
														<span class="sale_tag"></span>
														<p><a th:href="@{/productDT(id=${product1.id})}"><img th:src="@{${product1.image}}" alt="" /></a></p>
														<a th:href="@{/productDT(id=${product1.id})}" class="title" th:text="${product1.title}"></a><br/>
														<a th:href="@{/productDT(id=${product1.id})}" class="category" th:text="${product1.brand}"></a>
														<p class="price" th:text="'$' + ${product1.price}"></p>
													</div>
													</li>
  												</th:block>	
											</ul>
										</div>
										<div class="item">
											<ul class="thumbnails">
												<th:block th:each="product2 : ${product2}">
													<li class="span3">
														<div class="product-box">
															<span class="sale_tag"></span>
															<p><a th:href="@{/productDT(id=${product2.id})}"><img th:src="@{${product2.image}}" alt="" /></a></p>
															<a th:href="@{/productDT(id=${product2.id})}" class="title" th:text="${product2.title}"></a><br/>
															<a th:href="@{/productDT(id=${product2.id})}" class="category" th:text="${product2.brand}"></a>
															<p class="price" th:text="'$' + ${product2.price}"></p>
														</div>
													</li>
  												</th:block>																																	
											</ul>
										</div>
									</div>							
								</div>
							</div>						
						</div>
						<br/>
						<div class="row">
							<div class="span12">
								<h4 class="title">
									<span class="pull-left"><span class="text"><span class="line">Feature <strong>Products</strong></span></span></span>
									<span class="pull-right">
										<a class="left button" href="#myCarousel-2" data-slide="prev"></a><a class="right button" href="#myCarousel-2" data-slide="next"></a>
									</span>
								</h4>
								<div id="myCarousel-2" class="myCarousel carousel slide">
									<div class="carousel-inner">
										<div class="active item">
											<ul class="thumbnails">												
												<th:block th:each="product3 : ${product3}">
													<li class="span3">
													<div class="product-box">
														<span class="sale_tag"></span>
														<p><a th:href="@{/productDT(id=${product3.id})}"><img th:src="@{${product3.image}}" alt="" /></a></p>
														<a th:href="@{/productDT(id=${product3.id})}" class="title" th:text="${product3.title}"></a><br/>
														<a th:href="@{/productDT(id=${product3.id})}" class="category" th:text="${product3.brand}"></a>
														<p class="price" th:text="'$' + ${product3.price}"></p>
													</div>
													</li>
  												</th:block>	
											</ul>
										</div>
										<div class="item">
											<ul class="thumbnails">
												<th:block th:each="product4 : ${product4}">
													<li class="span3">
														<div class="product-box">
															<span class="sale_tag"></span>
															<p><a th:href="@{/productDT(id=${product4.id})}"><img th:src="@{${product4.image}}" alt="" /></a></p>
															<a th:href="@{/productDT(id=${product4.id})}" class="title" th:text="${product4.title}"></a><br/>
															<a th:href="@{/productDT(id=${product4.id})}" class="category" th:text="${product4.brand}"></a>
															<p class="price" th:text="'$' + ${product4.price}"></p>
														</div>
													</li>
  												</th:block>
											</ul>
										</div>			
									</div>							
								</div>
							</div>						
						</div>
						<div class="row feature_box">						
							<div class="span4">
								<div class="service">
									<div class="responsive">	
										<img th:src="@{/themes/images/feature_img_2.png}" alt="" />
										<h4>MODERN <strong>DESIGN</strong></h4>
										<p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>									
									</div>
								</div>
							</div>
							<div class="span4">	
								<div class="service">
									<div class="customize">			
										<img th:src="@{/themes/images/feature_img_1.png}" alt="" />
										<h4>FREE <strong>SHIPPING</strong></h4>
										<p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
									</div>
								</div>
							</div>
							<div class="span4">
								<div class="service">
									<div class="support">	
										<img th:src="@{/themes/images/feature_img_3.png}" alt="" />
										<h4>24/7 LIVE <strong>SUPPORT</strong></h4>
										<p>GENUINE MEN'S FEMALE SPORTS CLOTHES HIGHLIGHTS</p>
									</div>
								</div>
							</div>	
						</div>		
					</div>				
				</div>
			</section>
			<section class="our_client">
				<h4 class="title"><span class="text">Manufactures</span></h4>
				<div class="row">					
					<div class="span2">
						<a th:href="@{/product(by='brand',name='ADIDAS')}"><img alt="" th:src="@{/themes/images/clients/adidas.png}"></a>
					</div>
					<div class="span2">
						<a th:href="@{/product(by='brand',name='PUMA')}"><img alt="" th:src="@{/themes/images/clients/puma.png}"></a>
					</div>
					<div class="span2">
						<a th:href="@{/product(by='brand',name='NIKE')}"><img alt="" th:src="@{/themes/images/clients/nike.png}"></a>
					</div>
				</div>
			</section>
			<section id="footer-bar">
				<div class="row">
					<div class="span3">
						<h4>Navigation</h4>
						<ul class="nav">
							<li><a th:href="@{/}">Homepage</a></li>  
							<li><a th:href="@{/cart}">Your Cart</a></li>							
						</ul>					
					</div>
					<div class="span4">
						<h4>My Account</h4>
						<ul class="nav">
							<li><a href="#">My Account</a></li>
						</ul>
					</div>
					<div class="span5">
						<p class="logo"><img th:src="@{/themes/images/logo.png}" class="site_logo" alt=""></p>
						<p>GENUINE MEN'S FEMALE SPORTS CLOTHES HIGHLIGHTS</p>
						<br/>
					</div>					
				</div>	
			</section>
			<section id="copyright">
				<span>Copyright 2013 bootstrappage template  All right reserved.</span>
			</section>
		</div>
		<script src="themes/js/common.js"></script>
		<script src="themes/js/jquery.flexslider-min.js"></script>
		<script type="text/javascript">
			$(function() {
				$(document).ready(function() {
					$('.flexslider').flexslider({
						animation: "fade",
						slideshowSpeed: 4000,
						animationSpeed: 600,
						controlNav: false,
						directionNav: true,
						controlsContainer: ".flex-container" // the container that holds the flexslider
					});
				});
			});
		</script>
    </body>
</html>